# Data SCience Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives***
- List popular languages for Data Science
* Commonly used libraries used by data scientists
- LIst of some data science tools
* Examples of arithmetic expressions in python

Some of the popular languages that Data SCientists use are:
1. ##### Python
2. ##### R
3. ##### SQL
4. ##### Java SCript
5. ##### Java
6. ##### Julia
7. ##### Scala
8. ##### C/C++

Some of the commonly used libraries used by data scientists include: 
1. ggplot2
2. Matplotlib
3. TensorFlow

| Data SCience Tools|
|----------|
|1. Jupyter Notebook
2. RStudio
3. Spider|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

int(200/60)

(200/60)

3.3333333333333335

In [21]:
#This will convert 200 minutes to hours by dividing by 60
minutes=200%60
hours=200//60;hours

3

## Author
Matilda Awuor